<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>LayoutPage</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css" type="text/css">
  </head>
  <body>
    <section layout:fragment="content">
      <p>Page content goes here</p>
    </section>

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.1/js/bootstrap.bundle.js"></script>
  </body>
</html>
